<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.tailwindcss.com"></script>
     <link rel="stylesheet" href="../css/login.css">
</head>
<body class="text-center text-white">
    <h1 th:text="${titulo}" class="text-3xl mb-10"></h1>
    <table id="lista" class="text-center bg-white m-auto mt-10 text-blue-600 p-5 rounded w-9/12">
        <thea>
            <tr>
                <th>Producto</th>
                <th>Stock</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody >
            <tr th:each="carrito: ${carrito}">
                <td th:text="${carrito.getProducto().getNombre()}"></td>
                <td th:text="${carrito.getStock()}"></td>
                <td>
                	<form th:action="@{/carrito/editar/{id}(id=${carrito.getIdItem()})}" method="post">
                        <input type="number" name="cantidadProductos" th:value="${carrito.getStock()}" class="border border-gray-400 rounded py-2 px-3">
                        <button type="submit">Guardar</button>
                    </form>
                </td>
                <td>
				    <form th:action="@{/carrito/eliminar/{id}(id=${carrito.getIdItem()})}" method="post">
				        <button type="submit">Eliminar</button>
				    </form>
				</td>
            </tr>
        </tbody>
    </table>
    <p th:text="${mensajeExito}" class="text-green-500" th:if="${mensajeExito}"></p>
	<p th:text="${mensajeError}" class="text-red-500" th:if="${mensajeError}"></p>
    <!--<a th:href="@{carrito/agregar}" class=" hover:bg-sky-400 p-5 m-auto rounded-full border border-sky-400 m-5 text-xl bg-sky-600 mb-10">Checkout</a>
    -->
</body>
</html>