<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">

<!-- Google Icons -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<!-- FontAwesone -->
<script src="https://kit.fontawesome.com/9537beaf72.js"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css"
	integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/solid.min.css"
	integrity="sha512-yDUXOUWwbHH4ggxueDnC5vJv4tmfySpVdIcN1LksGZi8W8EVZv4uKGrQc0pVf66zS7LDhFJM7Zdeow1sw1/8Jw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/regular.min.css"
	integrity="sha512-WidMaWaNmZqjk3gDE6KBFCoDpBz9stTsTZZTeocfq/eDNkLfpakEd7qR0bPejvy/x0iT0dvzIq4IirnBtVer5A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js
"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<title>Metodo de Pago</title>
</head>
<body class="bg-black text-gray-400" >
<header>
	<nav class="navbar navbar-dark bg-dark h-full w-full flex justify-between items-center">
			<div><a th:href="@{/}"><img alt="logo" src="../../img/logo-bidbay.png" class="bg-white ml-10"></a> </div>
			<div class="flex h-full items-center justify-around ml-20 text-white">
				<div
					class="h-full w-100 flex flex-row items-center justify-around m-auto mb-2">
					<form th:action="@{/producto/buscar}" class="flex flex-row">
						<input name="search" type="text" class="rounded p-2 mt-4 w-96"
							placeholder="Buscar" />
							<button type="submit" class="text-white mt-4 ml-2">

						<i class="fa fa-search"></i>
					</button> 
					</form>
					
				</div>
			</div>


			<div id="divCarrito" class="mr-10 text-gray-100">
				<a th:href="@{/login}" class="text-2xl mr-2"><i
					class="fa-regular fa-user"></i></a>
					<a th:href="@{/carrito/listar}"
					class="text-2xl mr-5"><i
					class="fa-sharp fa-solid fa-cart-plus"></i></a>
					<p th:text="${logueo}"></p>
			</div>
	</nav>
</header>
	<h1 th:text="${titulo}" class="text-3xl mb-10 mt-5 text-center "></h1>
	 <form th:action="@{/compra/pago/form}" th:object="${pago}" method="POST" class="bg-black m-5 p-5 flex flex-col justify-center justify-items-center items-center">
        <table class="w-64 m-auto w-4/5">
            <tr>
                <td class="text-white">DNI:</td>
                <td><input type="text" th:field="*{DNI}" class="p-2 m-2" /></td>
            </tr>
            <tr>
                <td class="text-white">Numero Tarjeta:</td>
                <td><input type="text" th:field="*{numeroTarjeta}" class="p-2 m-2" /></td>
            </tr>
<!--             <tr> -->
<!--                 <td class="text-white">Fecha de vencimiento:</td> -->
<!--                 <td><input type="text" th:field="*{fechaVencimiento}" class="p-2 m-2" /></td> -->
<!--             </tr> -->
        </table>
        <input type="submit" id="btn3" th:value="${botonSubmit}" class="btn btn-primary btn-green"/>
        <a th:href="@{/}" class=" hover:bg-red-400 p-2 m-auto rounded-full border border-red-700 m-5 text-xl bg-red-600 text-white mt-5">Cancelar</a>
        <input type="hidden" th:field="*{idPago}" />
    </form>
<!-- 	<form th:action="@{/compra/pago/form}" th:object="${pago}" -->
<!-- 		method="POST"> -->
<!-- 		<table> -->
<!-- 			<tr> -->
<!-- 				<td class="text-white">DNI:</td> -->
<!-- 				<td><input type="text" th:field="*{DNI}" /></td> -->
<!-- 			</tr> -->
<!-- 		</table> -->
		<!--   <tr> -->
		<!--     <label for="documentoCliente">Documento de Cliente:</label> -->
		<!--     <input type="text" id="documentoCliente" th:field="*{DNI}"required> -->
		<!--   </div> -->

		<!--   <div> -->
		<!--     <label for="numeroTarjeta">Número de Tarjeta:</label> -->
		<!--     <input type="text" id="numeroTarjeta" th:field="*{numeroTarjeta}" pattern="[0-9]{16}" inputmode="numeric" required> -->
		<!--   </div> -->
		<!--   <div> -->

		<!--     <label for="mes">Vencimiento de Tarjeta:</label> -->
		<!--     <select id="mes" th:field="*{mes}" required> -->
		<!--         <option value="">Mes</option> -->
		<!--         <option value="01">Enero</option> -->
		<!--         <option value="02">Febrero</option> -->
		<!--         <option value="03">Marzo</option> -->
		<!--         <option value="04">Abril</option> -->
		<!--         <option value="05">Mayo</option> -->
		<!--         <option value="06">Junio</option> -->
		<!--         <option value="07">Julio</option> -->
		<!--         <option value="08">Agosto</option> -->
		<!--         <option value="09">Septiembre</option> -->
		<!--         <option value="10">Octubre</option> -->
		<!--         <option value="11">Noviembre</option> -->
		<!--         <option value="12">Diciembre</option> -->
		<!--     </select> -->
		<!--     <select id="anio" th:field="*{anio}" required> -->
		<!--             <option value="">Año</option> -->
		<!--             <option value="2022">2022</option> -->
		<!--             <option value="2023">2023</option> -->
		<!--             <option value="2024">2024</option> -->
		<!--             <option value="2025">2025</option> -->
		<!--             <option value="2026">2026</option> -->
		<!--             <option value="2027">2027</option> -->
		<!--      </select>  -->
		<!--   </div> -->
		<!--   <div> -->
		<!--     <label for="titularTarjeta">Nombre del Titular de la Tarjeta:</label> -->
		<!--     <input type="text" id="titularTarjeta" th:field="*{titularTarjeta}" required> -->
		<!--   </div> -->
		<!--   <div> -->
		<!--     <label for="cvc">CVC:</label> -->
		<!--     <input type="text" id="cvc" th:field="*{cvc}" pattern="[0-9]{3}" inputmode="numeric"  required> -->
		<!--   </div> -->
<!-- 		<input type="submit" id="Pagar" th:value="${botonSubmit}" class="bg-blue-700"/>  -->
<!-- 		<input type="hidden" th:field="*{idPago}" /> -->
<!-- 	</form> -->

	<!-- 	<label>Monto a pagar: ACA TENGO Q PONER EL PRECIO x CANTIDAD</label> -->

	<!-- 	<h2 th:text="${error}"></h2> -->
	<!-- 			<div th:if="${param.error}"></div> -->

</body>
</html>