<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-center text-blue-600 bg-gray-300">
	<h1 th:text="${titulo}" class="text-3xl mb-10"></h1>
	<a th:href="@{/producto/form}"
		class=" hover:bg-sky-400 p-5 m-auto rounded-full border border-sky-400 m-5 text-xl bg-sky-600 mb-10 text-white">Agregar
		Producto</a>
	<table class="text-center bg-white m-auto mt-10 text-blue-600 p-5 rounded w-9/12">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Precio</th>
				<th>Stock</th>
				<th>Editar</th>
				<th>Eliminar</th>
				<th>Agregar al carrito</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="producto: ${productos}">
				<td th:text="${producto.id}"></td>
				<td th:text="${producto.nombre}"></td>
				<td th:text="${producto.descripcion}"></td>
				<td th:text="${producto.precio}"></td>
				<td th:text="${producto.stock}"></td>
				<td><a th:href="@{/producto/form/} + ${producto.id}">Link</a></td>
				<td><a th:href="@{/producto/delete/} + ${producto.id}"
						onclick="return confirm('¿Estás seguro que querés eliminar esta Pelicula?')">Eliminar</a></td>
				<td><a th:href="@{/carrito/form/{id}(id=${producto.id})}">Agregar</a></td>
			</tr>
		</tbody>
	</table>
	<p th:text="${mensaje}" th:if="${mensaje}"></p>
</body>

</html>