<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layouts/plantilla.html :: head"></head>

<body class="">

	<header th:replace="views/layouts/plantilla.html :: header"></header>
	<aside th:replace="views/layouts/plantilla.html :: aside"></aside>
	<main class="flex justify-center items-center flex-col">
		<h1 th:text="${titulo}" class="text-3xl mb-10"></h1>
		<table id="lista" class="text-center bg-white m-auto mt-10 text-blue-600 p-5 rounded w-9/12 mb-10">
			<thead>
				<tr>
					<th>Producto</th>
					<th>Stock</th>
					<th>Precio</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="carritoItem: ${carrito?.getCarritoItems()}" th:if="${carrito?.getCarritoItems()}">
					<td th:text="${carritoItem.getProducto().getNombre()}"></td>
					<td th:text="${carritoItem.getStock()}"></td>
					<td>
						<form th:action="@{/carrito/editar/{id}(id=${carritoItem.getIdItem()})}" method="post">
							<input type="number" name="cantidadProductos" th:value="${carritoItem.getStock()}" min="1"
								class="border border-gray-400 rounded py-2 px-3">
							<button type="submit">Guardar</button>
						</form>
					</td>
					<td>
						<form th:action="@{/carrito/eliminar/{id}(id=${carritoItem.getIdItem()})}" method="post">
							<button type="submit">Eliminar</button>
						</form>
					</td>
				</tr>
				<tr th:unless="${carrito != null and not #lists.isEmpty(carrito.carritoItems)}">
					<td colspan="5">No hay elementos en el carrito</td>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<td>Precio total</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id=precioTotalId th:text="${precioTotal}"></td>
				
				</tr>
			</tbody>
		</table>
		<div th:if="${precioTotal != 0}">
			<form th:action="@{/miscompras/agregar}" method="post">
				<input type="submit" value="Generar orden de compra" class="text-black text-2xl bg-green-200 p-2 mt-10 "> 
			</form>
		</div>
		
		<p th:text="${mensajeExito}" class="text-green-500" th:if="${mensajeExito}"></p>
		<p th:text="${mensajeError}" class="text-red-500" th:if="${mensajeError}"></p>
	</main>
	<script th:replace="views/layouts/plantilla.html :: script"></script>
</body>
<script>
	function submitForm(input) {
		var form = input.parentNode;
		form.submit();
	}
</script>

</html>