<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layouts/plantilla.html :: head"></head>

<body class="">

	<header th:replace="views/layouts/plantilla.html :: header"></header>
	<aside th:replace="views/layouts/plantilla.html :: aside"></aside>
	<main class="flex justify-center items-center flex-col">
		<h1 th:text="${titulo}" class="text-3xl mb-10"></h1>
		<div id="lista" class="text-center bg-white m-auto mt-10 text-blue-600 p-4 rounded w-9/12 mb-10">
			<div class="grid grid-cols-5 gap-2 p-2 rounded text-white font-semibold text-xlg bg-gray-500">
				<p>Producto</p>
				<p>Stock</p>
				<p>Precio</p>
				<p>Cantidad</p>
				<p></p>
				<p></p>
			</div>
			<div class="p-2 ">
				<div class="grid grid-cols-5 gap-2 items-center" th:each="carritoItem: ${carrito?.getCarritoItems()}" th:if="${carrito?.getCarritoItems()}">
					<p th:text="${carritoItem.getProducto().getNombre()}"></p>
					<p th:text="${carritoItem.getStock()}"></p>
					<p th:text="${carritoItem.getProducto().getPrecio()}"></p>
					<div class="col-span-1">
						<form th:action="@{/carrito/editar/{id}(id=${carritoItem.getIdItem()})}" method="post" class="flex flex-row gap-5">
							<input type="number" name="cantidadProductos" th:value="${carritoItem.getStock()}" min="1" 	class="border border-gray-400 rounded py-2 px-3">
							<button class="bg-blue-500 hover:bg-blue-700 m-2 text-white p-2 rounded" type="submit">Guardar</button>
						</form>
					</div>
					<div class="col-span-1">
						<form th:action="@{/carrito/eliminar/{id}(id=${carritoItem.getIdItem()})}" method="post">
							<button class="bg-red-500 hover:bg-blue-700 m-2 text-white p-2 rounded" type="submit">Eliminar</button>
						</form>
					</div>
				</div>
				<div class="flex justify-center items-center justify-center text-center" th:unless="${carrito != null and not #lists.isEmpty(carrito.carritoItems)}">
					<p class="text-mb font-semibold">No hay elementos en el carrito</p>
				</div>
			</div>
		</div>
		<div class="flex flex-col gap-2 text-center items-center p-2">
			<p class="font-semibold text-xl">Precio total</p>
			<p id=precioTotalId th:text="${precioTotal}"></p>
		</div>
		<div th:if="${precioTotal != 0}">
			<form th:action="@{/miscompras/agregar}" method="post">
				<input type="submit" value="Generar orden de compra" class="text-black text-2xl bg-green-200 p-2 mt-10 "> 
			</form>
		</div>
		
		<p th:text="${mensajeExito}" class="text-green-500" th:if="${mensajeExito}"></p>
		<p th:text="${mensajeError}" class="text-red-500" th:if="${mensajeError}"></p>
	</main>
	<script th:replace="views/layouts/plantilla.html :: script"></script>
</body>
<script>
	function submitForm(input) {
		var form = input.parentNode;
		form.submit();
	}
</script>
<footer th:replace="views/layouts/plantilla.html :: footer"></footer>
</html>