<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layouts/plantilla.html :: head"></head>

<body class="">

	<header th:replace="views/layouts/plantilla.html :: header"></header>

	<main class="flex justify-center items-center flex-col">
		<h1 th:text="${titulo}" class="text-3xl mb-10"></h1>
		<table id="lista" class="text-center bg-white m-auto mt-10 text-blue-600 p-5 rounded w-9/12 mb-10">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categoría</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="categoria: ${categorias}">
                <td th:text="${categoria.id}"></td>
                <td th:text="${categoria.nombre}"></td>
                <td>
                    <a class="btn btn-secondary text-light" th:href="@{/categoria/productos/{id}(id=${categoria.id})}">View</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>