<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="views/layouts/plantilla.html :: head"></head>

<body>

	<header th:replace="views/layouts/plantilla.html :: header"></header>
	<aside th:replace="views/layouts/plantilla.html :: aside"></aside>
	<main class="w-full flex h-[900px] justify-center m-auto">
	    <div class="flex flex-col gap-2 text-center">
	        <h1 class="font-bold m-2 text-[24px]">Dejar Reseña</h1>
	        <h2>Producto:</h2>
	        <div class="flex-row flex gap-2">
	        	<div class="w-[20%]">
	        		<img th:src="@{'/imagenes/'+${producto.imagen}}" th:alt="${producto.imagen}">
		        </div>
		        <div class="flex flex-col gap-2 text-left">
			        <h2 th:text="${producto.nombre}"></h2>
		       		<h2 th:text="${producto.descripcion}"></h2>
		        </div>
	        </div>
	        
	        
	        <form th:action="@{'/review/dejarReview/' + ${producto.id}}" method="post" class="flex flex-col gap-2 text-xl">
	            <textarea name="mensaje" placeholder="Escribe tu reseña"></textarea>
	            <input type="hidden" name="notificacionId" th:value="${notificacionId}">
	            <label for="puntaje">Calificación:</label>
	            <select name="puntaje">
	                <option value="1">1 Estrella</option>
	                <option value="2">2 Estrellas</option>
	                <option value="3">3 Estrellas</option>
	                <option value="4">4 Estrellas</option>
	                <option value="5">5 Estrellas</option>
	            </select>
	            <p class="text-mb">*Tu reseña podrá ser vista por otros usuarios cuando busquen sobre este producto.</p>
	            <button type="submit"  class="bg-blue-500 hover:bg-blue-700 m-2 text-white p-2 rounded cursor-pointer">Enviar Reseña</button>
	        </form>
	    </div>
	</main>

	<footer th:replace="views/layouts/plantilla.html :: footer"></footer>
	<script th:replace="views/layouts/plantilla.html :: script"></script>
</body>

</html>