<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${titulo}"></title>
</head>
<body class="text-center text-blue-600 bg-gray-300">
	<h1 th:text="${titulo}" class="text-3xl mb-10"></h1>
		<table border="1">
			<thead>
				<tr>
					<th >Codigo Compra</th>
					<th >Producto</th>
					<th >Cantidad</th>
					<th >Precio Unitario</th>
					<th >Total</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="detalle: ${detalles}">
					<td th:text="${detalle.idDetalle}"></td>
					<td th:text="${detalle.producto.nombre}"></td>
					<td th:text="${detalle.cantidad}"></td>
					<td th:text="${detalle.precioCompra}"></td>
					<td th:text="${detalle.precioCompra*detalle.cantidad }"></td>
				</tr>
			</tbody>
		</table>
		<p th:text="${mensaje}" th:if="${mensaje}"></p>
</body>
</html>
