<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layouts/plantilla.html :: head"></head>

<body class="">

	<header th:replace="views/layouts/plantilla.html :: header"></header>

	<main class="flex justify-center items-center flex-col">
		<h1 th:text="${titulo}" class="text-3xl mb-10"></h1>
		
		<div id="lista" class="text-center bg-white m-auto mt-10 text-blue-600 p-4 rounded w-9/12 mb-10">
			<div class="grid grid-cols-7 gap-2 p-2 rounded text-white font-semibold text-xlg bg-gray-500">
				<p>Compra</p>
				<p>Pago</p>
				<p>Monto</p>
				<p>Fecha de pago</p>
				<p></p>
				<p th:if="${rol != 'Moderador'}"></p>
				<p th:if="${rol != 'Moderador'}"></p>
			</div>
			<div class="p-2 ">
				
				<div class="grid grid-cols-7 items-center justify-center text-center mb-2" th:if="${compras != null}" th:each="compra: ${compras}">					
					<p th:text="${compra.id}"></p>
					<p th:text="${compra.IdPago != null ? compra.IdPago : 'Pendiente'}"></p>
					<p th:text="${compra.monto}"></p>
					<p th:text="${compra.fecha} ?: 'Pendiente de pago'"></p>
					<a class="bg-gray-500 hover:bg-blue-700 m-2 text-white rounded" th:href="@{/moderador/detalle/} + ${compra.id}" th:if="${rol == 'Moderador'}">View</a>
					<a th:if="${rol != 'Moderador'}"> class="bg-gray-500 hover:bg-blue-700 m-2 text-white p-2 px-5 rounded" th:href="@{/miscompras/detalle/} + ${compra.id}">View</a>
					<a class="bg-blue-500 hover:bg-blue-700 m-2 text-white p-2 px-5 rounded" th:if="${compra.idPago == null && rol != 'Moderador'}" th:href="@{/pago/form/} + ${compra.id} + '/' + ${compra.monto}">Pagar</a>
					<div class="col-span-1" th:if="${rol != 'Moderador'}">
						<form th:if="${compra.idPago == null}" th:action="@{/miscompras/eliminar/} + ${compra.id}" method="post">
	                    <button type="submit" class="bg-red-500 hover:bg-blue-700 m-2 text-white p-2 px-5 rounded">Eliminar</button>
	                	</form>
	                </div>
				</div>
			</div>
		</div>
		<div th:if="${rol != 'Moderador'}">
			<p  th:text="${mensaje}" th:if="${mensaje}"></p>
		</div>
		<div th:if="${rol != 'Moderador'}">
			<p>Podés pagar todas tus ordenes de compra o pagarlas individualmente</p>
		</div>
		<br>
		<div th:if="${rol != 'Moderador'}">
			<a th:if="${precioTotal != 0.0}" th:href="@{/pago/form(precioTotal=${precioTotal})}" class="bg-blue-400 p-3 rounded text-white">Pagar todas</a>
		</div>
		<div th:if="${rol != 'Moderador'}">
			<a th:if="${precioTotal == 0.0}" class="bg-gray-400 p-3 rounded text-white">Todas las compras están pagas</a>
		</div>
</body>
</html>