<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${titulo}"></title>
</head>
<body class="text-center text-blue-600 bg-gray-300">
	<h1 th:text="${titulo}" class="text-3xl mb-10"></h1>

		<table border="1">
			<thead>
				<tr>
					<th>Id</th>
					<th>Usuario</th>
					<th>pago</th>
					<th>monto</th>
					<th>fecha</th>
					<th>Mostrar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="compra: ${compras}">
					<td th:text="${compra.id}"></td>
					<td th:text="${compra.IdUsuario}"></td>
					<td th:text="${compra.IdPago}"></td>
					<td th:text="${compra.monto}"></td>
					<td th:text="${compra.fecha}"></td>
					<td><a th:href="@{/miscompras/detalle/} + ${compra.id}">Link</a></td>
				</tr>
			</tbody>
		</table>
		<p th:text="${mensaje}" th:if="${mensaje}"></p>
</body>
</html>