<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/layouts/plantilla.html :: head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <title>Metodo de Pago</title>
</head>
<body class="bg-gray-100">
    <header>
        <!-- Navbar -->
        <nav class="bg-black py-4">
            <div class="container mx-auto flex items-center justify-between px-4">
                <a href="#" class="text-white text-lg font-bold">Logo</a>
                <ul class="flex space-x-4">
                    <li><a href="#" class="text-white">Inicio</a></li>
                    <li><a href="#" class="text-white">Productos</a></li>
                    <li><a href="#" class="text-white">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mx-auto py-8">
        <h1 th:text="${titulo}" class="text-3xl mb-10 mt-5 text-center"></h1>

        <div class="flex justify-center">
  		  <div class="w-max bg-white p-6 rounded shadow-lg" style ="border: 1px solid #000000; border-radius: 5px;">
            <form th:action="@{/pago/form}" th:object="${pago}" method="POST" class="max-w-lg mx-auto">
                <div class="mb-4">
                    <label for="documentoCliente" class="block text-gray-700 font-bold mb-2">Documento de Cliente:</label>
                    <input type="text" id="documentoCliente" th:field="*{DNI}" required class="w-full border-solid border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-500">
                </div>

                <div class="mb-4">
                    <label for="numeroTarjeta" class="block text-gray-700 font-bold mb-2">Número de Tarjeta:</label>
                    <input type="text" id="numeroTarjeta" th:field="*{numeroTarjeta}" pattern="[0-9]{16}" maxlength="16" inputmode="numeric" required class="w-full border-solid border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-500">
                </div>

                <div class="mb-4 flex space-x-4">
                    <div class="w-1/2">
                        <label for="mes" class="block text-gray-700 font-bold mb-2">Vencimiento de Tarjeta:</label>
                        <input type="text" id="mes" th:field="*{mes}" pattern="^(0?[1-9]|1[0-2])$" maxlength="2" inputmode="numeric" required class="w-full border-solid border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-500">
                    </div>
                    <div class="w-1/2">
                        <label for="anio" class="block text-gray-700 font-bold mb-2">&nbsp;</label>
                        <input type="text" id="anio" th:field="*{anio}" pattern="^(2023|202[4-9]|2030)$" maxlength="4" inputmode="numeric" required class="w-full border-solid border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-500">
                    </div>
                </div>

                <div class="mb-4">
                    <label for="titularTarjeta" class="block text-gray-700 font-bold mb-2">Nombre del Titular de la Tarjeta:</label>
                    <input type="text" id="titularTarjeta" th:field="*{nombreDeCliente}" required class="w-full border-solid border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-500">
                </div>

                <div class="mb-4">
                    <label for="cvc" class="block text-gray-700 font-bold mb-2">CVC:</label>
                    <input type="text" id="cvc" th:field="*{cvc}" pattern="[0-9]{3}" maxlength="3" inputmode="numeric" required class="w-full border-solid border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-500">
                </div>

                <div class="mb-4">
                    <input type="submit" id="Pagar" th:value="${botonSubmit}" class="w-full bg-blue-700 text-white py-2 px-4 rounded">
                </div>
            </form>
        </div>
  </div>
        <div class="text-center mt-3">
            <label class="text-gray-700 font-bold">Monto a pagar:</label>
            <span th:text="${precioTotal}" th:field="*{precio}" class="border-solid border-b-2 border-gray-500"></span>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert@1.1.3/sweetalert.min.js"></script>
</body>
</html>
