<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layouts/plantilla.html :: head"></head>

<body>

	<header th:replace="views/layouts/plantilla.html :: header"></header>

	<main>
		<div class="d-flex flex-column align-items-center">
			<h1 th:text="${titulo}" class="h1 text-4xl mb-10"></h1>
			<div class="container">
				<div th:if="${inputValue != null}" class="text-center">
					<h4 class="h4 mt-4" th:unless="${inputValue == null or inputValue == '' or productos.size() == 0}">
						Resultado de Buscar: <b class="text-danger" th:text="${inputValue}"></b>
					</h4>
				</div>
			</div>
		</div>


		<div class="search-contenedor">

			<div class="search-column">
				<div class="categorias card sombra">
					<h2>Categorías</h2>
					<div class="categorias-container" th:each="categoria: ${categorias}">
						<a th:href="@{/producto/buscar(categoria=${categoria.id})}" th:text="${categoria.nombre}"></a>
					</div>
				</div>
				<div class="bidbay-bg mt-3 rounded card btn-sombra">
					<a th:href="@{/}" class="rounded" href=""><img class="sombra rounded" src="../../img/bidbay-bg.png"
							alt=""></a>
				</div>
			</div>


			<div class="search-column">


				<div class="dropdown btn-sombra mb-3" th:if="${productos.size() != 0}">
					<button class="btn btn-secondary dropdown-toggle" type="button">
						Ordenar
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item btn btn-secondary mr-5"
							th:href="@{/producto/buscar(categoria=${categoria?.id}, search=${inputValue}, order='asc')}">
							<b>Menor Precio</b>
						</a>
						<a class="dropdown-item btn btn-secondary"
							th:href="@{/producto/buscar(categoria=${categoria?.id}, search=${inputValue}, order='desc')}">
							<b>Mayor Precio</b>
						</a>
					</div>
				</div>

				<div th:each="producto: ${productos}" class="card link sombra mb-3">
					<div th:if="${productos.size() > 0 and producto.stock > 0}" class="row no-gutters">
						<div class="col-sm-3">
							<a th:href="@{/producto/details/{id}(id=${producto.id})}">
								<img th:src="@{'../imagenes/'+${producto.imagen}}" th:alt="${producto.imagen}"
									class="w-4/5 h-2/3 m-auto rounded">
							</a>
						</div>
						<div class="card-description col-sm-9">
							<div class="card-body">
								<a th:href="@{/producto/details/{id}(id=${producto.id})}">
									<h5 class="card-title" th:text="${producto.nombre}"></h5>
								</a>
								<p class="card-text" th:text="'$' + ${producto.precio}"></p>
								<a class="btn btn-warning btn-sombra mt-4"
									onClick="validarCompra(this)" th:attr="data-id-vendedor=${producto.vendedor.id}, 
									data-id-compra=${producto.id}, data-id-usuario=${idUsuario}">Agregar Al
									Carrito</a>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center" th:if="${productos.size() == 0 || productos.?[stock > 0].size() == 0}">
					<p class="text-muted h3">No se han encontrado productos buscando: <b class="text-danger"
							th:text="${inputValue}"></b>
				</div>
				<div class="text-center" th:if="${productos.size() == 0}" th:else>
					<p class="text-muted h5">Error al buscar productos</p>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="views/layouts/plantilla.html :: footer"></footer>
	<script th:replace="views/layouts/plantilla.html :: script"></script>
</body>

</html>