<!DOCTYPE html>
<html lang="en">
<head th:replace="views/layouts/plantilla.html :: head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos por Categoría</title>
</head>
<body>
    <h1 th:text="${categoria.nombre}"></h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto: ${productos}">
                <td th:text="${producto.id}"></td>
                <td th:text="${producto.nombre}"></td>
                <td th:text="${producto.descripcion}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>