<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layouts/plantilla.html :: head"></head>

	
	<body>

    <header th:replace="views/layouts/plantilla.html :: header"></header>

    <div class="detalle-main card">
        <div class="detalle-col-1">
            <img th:src="@{'/imagenes/'+${producto.imagen}}" th:alt="${producto.imagen}" />
        </div>
        <div class="detalle-col-2">
            <div class="detalle-row">
                <a href="#" onclick="goBack()">
                    <i class="fa fa-long-arrow-left"></i>
                    <span class="ml-1">Volver</span>
                </a>
            </div>
            <div class="row-line"></div>
            <div class="detalle-row">
                <p class="detalle-titulo" th:text="${producto.nombre}">
            </div>
            <div class="detalle-row">
                <span class="detalle-categoria">Categoría -> </span>
                <a class="detalle-categoria-link" th:href="@{/producto/buscar(categoria=${producto.categoria.id})}"
                    th:text="${producto.categoria.nombre}"></a>
            </div>
            <div class="row-line"></div>
            <div class="detalle-row detalle-precio">
                <p th:text="'$' + ${producto.precio}">
                <p>Stock Disponible: <span th:text="${producto.stock}"></span></p>
            </div>
            <div class="row-line"></div>
            <div class="detalle-row">
                <p class="about" th:text="${producto.descripcion}"></p>
            </div>
            <div class="row-line"></div>
            <div class="detalle-row">
                <a class="btn btn-warning text-uppercase mr-2 px-4 fw-bold text-white"
                   onClick="validarCompra(this)" th:attr="data-id-vendedor=${producto.vendedor.id}, 
									data-id-compra=${producto.id}, data-id-usuario=${idUsuario}">Agregar Al Carrito</a>
                <div>
                     <a th:href="@{/producto/details/{id}(id=${producto.id},fav=true)}">                   
                        <i class="fa fa-heart text-muted"  th:if="${valheard == false}"></i>
                        <i class="fas fa-heart" style="color: red;" th:if="${valheard == true}"></i>
                    </a>
                    <a href=""><i class="fa fa-share-alt text-muted"></i></a>
                </div>
            </div>
        </div>
	</div>
    
    <div class="flex flex-col text-center pt-3">
		<h2 class="font-semibold text-[24px]">Reseñas de este producto</h2>
		<p class="text-mb italic">Todas las reseñas son escritas por usuarios reales</p>
		<div th:if="${reviews != null and !reviews.isEmpty()}" class="flex flex-row gap-3 justify-center p-2">
			<div th:each="review : ${reviews}" class="grid-cols-3 gap-2 p-2 text-xl text-left bg-gray-200 p-2 rounded-sm">
				<p>Fecha: <span th:text="${review.fecha}"></span></p>
				<p>"<span th:text="${review.mensaje != null ? review.mensaje : 'El usuario no escribio un mensaje'}"></span>"</p>
				<p class="font-semibold">Puntaje: <span th:text="${review.puntaje}"></span></p>
			</div>
		</div>
		<div th:if="${reviews == null or reviews.isEmpty()}">
			<p class="text-mb">Aún no hay reseñas para este producto.</p>
		</div>
		<div th:if="${usuarioComproProducto}" class="m-3">
            <a th:href="@{/review/dejarReview/{idProducto}(idProducto=${producto.id},notificacionId=0)}" 
            class="bg-blue-500 hover:bg-blue-700 m-2 text-white p-2 rounded cursor-pointer">Dejar Reseña</a>
        </div>
	</div>


	<footer th:replace="views/layouts/plantilla.html :: footer"></footer>
	<script th:replace="views/layouts/plantilla.html :: script"></script>
</body>

