<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layouts/plantilla.html :: head"></head>

<body class="">

<header th:replace="views/layouts/plantilla.html :: header"></header>

<main class="flex justify-center items-center flex-col">
		<h1 th:text="${titulo}" class="text-3xl mb-10"></h1>
		<form th:action="@{/producto/listar}" th:if="${rol != 'Moderador'}">
				<input name="search" type="text" placeholder="Buscar">
				<input type="submit" value="Buscar" class="btn btn-secondary text-light">
		</form>
		<form th:action="@{/moderador/productos}" th:if="${rol == 'Moderador'}">
			
				<input name="search" type="text" placeholder="Buscar">
				<input type="submit" value="Buscar" class="btn btn-secondary text-light">
		</form>
		
			<p th:if="${inputValue != null}" th:text="'Resultado de buscar: ' + ${inputValue}"></p>
			<a th:if="${rol != 'Moderador'}" class="btn btn-secondary text-light" th:text="Volver" th:href="@{/producto/listar}"></a>
			<a th:if="${rol == 'Moderador'}" class="btn btn-secondary text-light" th:text="Volver" th:href="@{/moderador/productos}"></a>
			<br>

				<p  th:if="${rol != 'Moderador'}">
					<a class="btn btn-secondary text-light"
					th:href="@{/producto/form}">Agregar Producto</a>
				</p>
		
			<div>
				<h4>Ordenar: </h4>
				<div th:if="${rol != 'Moderador'}">
					<a class="" th:href="@{/producto/listar?order=asc}"><b>Ascendente</b></a>
					<a class="" th:href="@{/producto/listar?order=desc}"><b>Descendente</b></a>
					<a class="" th:href="@{/producto/listar}"><b>Default</b> </a>
				</div>
				<div th:if="${rol == 'Moderador'}">
					<a class="" th:href="@{/moderador/productos?order=asc}"><b>Ascendente</b></a>
					<a class="" th:href="@{/moderador/productos?order=desc}"><b>Descendente</b></a>
					<a class="" th:href="@{/moderador/productos}"><b>Default</b> </a>
				</div>
			</div>
			<br>
		
		<div id="lista" class="flex flex-col text-center bg-white mt-10 p-4 rounded w-9/12 mb-10">
			<div class="flex flex-col gap-2 text-lg">
				<div class="grid grid-cols-7 gap-2 p-2 rounded text-white font-semibold text-xlg bg-gray-500">
					<p>Id</p>
					<p>Nombre</p>
					<p>Descripcion</p>
					<p>Precio</p>
					<p>Stock</p>
					<p></p>
					<p></p>
				</div>
				<div class="grid grid-cols-7 gap-2 gap-y-4 items-center justify-center text-center" th:each="producto: ${productos}" th:if="${producto.stock > 0}">
					<p th:text="${producto.id}"></p>
					<p th:text="${producto.nombre}"></p>
					<p th:text="${producto.descripcion}"></p>
					<p th:text="${producto.precio}"></p>
					<p th:text="${producto.stock}"></p>
					<a class="bg-blue-500 hover:bg-blue-700 m-2 text-white font-semibold rounded boton-submit text-center" th:if="${rol != 'Moderador'}" th:href="@{/producto/form/} + ${producto.id}">Editar</a>
					<a class="bg-red-600 hover:bg-red-800 cursor-pointer m-2 text-white font-semibold rounded boton-submit text-center" th:if="${rol != 'Moderador'}" onClick="confirmacionBorrado(this)" th:attr="data-id-producto=${producto.id}, data-href=@{/producto/delete/}">Borrar</a>
					<a class="bg-blue-500 hover:bg-blue-700 m-2 text-white font-semibold rounded boton-submit text-center" th:if="${rol == 'Moderador'}" th:href="@{/producto/form/} + ${producto.id}">Editar</a>
					<a class="bg-red-600 hover:bg-red-800 cursor-pointer m-2 text-white font-semibold rounded boton-submit text-center" th:if="${rol == 'Moderador'}" onClick="confirmacionBorrado(this)" th:attr="data-id-producto=${producto.id}, data-href=@{/moderador/producto/delete/}">Borrar</a>
				</div>
			</div>
		</div>
		<p th:text="${mensaje}" th:if="${mensaje}"></p>
</body>
<footer th:replace="views/layouts/plantilla.html :: footer"></footer>
<script th:replace="views/layouts/plantilla.html :: script"></script>
</html>