<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layouts/plantilla.html :: head"></head>
<script src="https://cdn.tailwindcss.com"></script>
<body class="">

	<header th:replace="views/layouts/plantilla.html :: header"></header>

	<main class="flex justify-center items-center flex-col">
		<h1 th:text="${titulo}" class="text-3xl mb-10 font-semibold"></h1>
		<h2 id="errorMsg" class="text-lg p-2"></h2>
		
        <form th:action="@{( ${rol} == 'Moderador' ? '/moderador/producto/guardar' : '/producto/guardar' )}" th:object="${producto}" method="POST" class="formulario mb-5 sombra-2"
            enctype="multipart/form-data"
            onSubmit="return validarFormulario()">
             <div class="p-4 m-auto text-center">
            	<div class="formulario-div">
                	<label for="nombre">Producto</label>
                	<input type="text" id="nombre" th:field="*{nombre}" />
            	</div>
            	<div class="formulario-div">
                	<label for="descripcion">Descripción</label>
                	<textarea id="descripcion" th:field="*{descripcion}"></textarea>
            	</div>
            	<div class="formulario-div">
                	<label for="precio">Precio</label>
                	<input type="text" id="precio" th:field="*{precio}" />
            	</div>
            	<div class="formulario-div">
                	<label for="stock">Stock</label>
                	<input type="text" id="stock" th:field="*{stock}" />
            	</div>
            	<div class="formulario-div">
                	<label for="imagen">Imagen</label>
                	<input type="file" id="imagen" name="file" />
                	<p class="text-sm text-blue">*La imagen no es obligatoria</p>
            	</div>
            	<div class="formulario-div">
                	<label for="categoria">Categoria</label>
                	<select id="categoria" th:field="*{categoria.id}" class="select-css">
                    		<option value="" >Seleccione una opción</option>
                    		<option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                	</select>
            	</div>
            	<div class="formulario-div">
                	<label for="modalidad">Modalidad</label>
                	<select id="modalida" th:field="*{modalidad.id}" class="select-css">
                    		<option value="" >Seleccione una opción</option>
                    		<option th:each="modalidad : ${modalidades}" th:value="${modalidad.id}" th:text="${modalidad.nombre}"></option>
                	</select>
            	</div>
             </div>
            <input type="submit" th:value="${botonSubmit}" class="btn bg-warning btn-warning btn-sombra mt-4 w-100 boton-submit" />
            <input type="hidden" th:field="*{id}" />
        </form>
      
    </main>

  	<footer th:replace="views/layouts/plantilla.html :: footer"></footer>
	<script th:replace="views/layouts/plantilla.html :: script"></script>
</body>
<script>
  function validarFormulario() {
	  	
	    var nombre = document.getElementById('nombre').value;
	    var descripcion = document.getElementById('descripcion').value;
	    var precio = document.getElementById('precio').value;
	    var stock = document.getElementById('stock').value;
	    var imagen = document.getElementById('imagen').value;
	    var categoria = document.getElementById('categoria').value;
	    var modalidad = document.getElementById('modalida').value;
	    var errorMsg = document.getElementById('errorMsg');
	
	    if (nombre === '' || descripcion === '' || precio === '' || stock === '' || imagen === '' || categoria === '' || modalidad === '') {
	      errorMsg.innerHTML = "Por favor, completa todos los campos.";
	      return false; 
	    }
	
	    return true;
  }
</script>

</html>