<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layouts/plantilla.html :: head"></head>
<script src="https://cdn.tailwindcss.com"></script>
	<body onload="cargaFormulario();" class="header-color h-full w-full flex justify-center mt-10">

	<main class=" flex flex-col w-full h-full text-center justify-center items-center justify-items-center">
	<div class="flex flex-col text-center gap-2">
		<h1 th:text="${titulo}" class="text-3xl text-white font-bold"></h1>
    	<h2 id="errorMsg" th:text="${error}" class="text-white text-mb mt-2"></h2>
    </div>
    <form id="registroForm" th:action="@{/usuario/guardar}" th:object="${usuario}" method="post" onsubmit="return validarFormulario();" class="formulario m-4 gap-2 sombra-2">    

        <div class="p-5 m-auto flex flex-col gap-2">
            <div class="formulario-div">
                <label for="nick">Usuario:</label>
                <input type="text" name="nick" th:field="*{nick}"  />
            </div>
            <div class="formulario-div">
                <label for="password">Password:</label>
                <input type="password" name="password" th:field="*{password}"  />
            </div>
            <div class="formulario-div">
                <label for="email">Email:</label>
                <input type="text" name="email" th:field="*{email}" />
            </div>
            <div class="formulario-div">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombre}"  />
            </div>
            <div class="formulario-div">
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" th:field="*{apellido}" />
            </div>
            <div class="formulario-div">
                <label for="direccion">Direccion:</label>
                <input type="text" name="direccion" th:field="*{direccion}"  />
            </div>
        
            <div class="formulario-div">
                <label for="telefono">Telefono:</label>
                <input type="text" name="telefono" th:field="*{telefono}" />
            </div>
        </div>
        
           
        <input type="submit" th:value="${botonSubmit}" class="bg-blue-500 hover:bg-blue-700 p-2 text-white font-bold rounded w-100 boton-submit" />
        <input type="hidden" name="id" th:field="*{id}" />
    </form>
     </main>  
     
  	
	<script th:replace="views/layouts/plantilla.html :: script"></script>
</body>
<script type="text/javascript">
	 function  validarFormulario(){
		 var form = document.forms.namedItem('registroForm');
		 var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
		 var respuesta=true;
		 var errorMessages = document.getElementById('errorMsg');
		 	errorMessages.innerHTML ="";
		 const data = {
        nick: form.elements.namedItem('nick').value,
        password: form.elements.namedItem('password').value,
        nombre: form.elements.namedItem('nombre').value,
        email: form.elements.namedItem('email').value,
        apellido: form.elements.namedItem('apellido').value,
        direccion: form.elements.namedItem('direccion').value,
        telefono: form.elements.namedItem('telefono').value,
    };
  		 errorMessages.innerHTML ="";
  		 
		 
		 if(data.nick === "" || data.password === "" || data.nombre === "" || data.email === "" || 
		 		data.apellido === "" || data.direccion === "" || data.telefono === ""){
			 errorMessages.innerHTML = "Llena todos los campos" ;
				return false;
		 }
	
		  if (!emailRegex.test(data.email)) {
			errorMessages.innerHTML = "El correo electrónico no es válido";
        	return false;
		  }
        	
        
		return true;
	}
	function cargaFormulario() {
    // ...
     var form = document.forms.namedItem('registroForm');
    var id = form.elements.namedItem('id').value;
    var nickField = form.elements.namedItem('nick');
    var emailField = form.elements.namedItem('email');
    
    if (id !== "") {
        nickField.disabled = true;
        emailField.disabled = true;
    }    
    return true;
}
</script>
</html>
