<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layouts/plantilla.html :: head"></head>
<script src="https://cdn.tailwindcss.com"></script>
<body class="">

	<header th:replace="views/layouts/plantilla.html :: header"></header>

	<main class="flex justify-center items-center flex-col">
		<h1 th:text="${titulo}" class="text-3xl mb-10"></h1>
    	<h2 th:text="${error}"></h2>
    
    <form th:action="@{/usuario/form}" th:object="${usuario}" method="post" class="formulario mb-5 sombra-2">
    <img alt="logo" src="../img/BidBay-Logo-New.png" class="m-auto w-28 h-18 mb-10">    
        <table class="p-5 m-auto">
            <tr>
                <td>Usuario:</td>
                <td><input type="text" th:field="*{nick}" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" th:field="*{password}" /></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{email}" /></td>
            </tr>
            <tr>
                <td>Nombre:</td>
                <td><input type="text" th:field="*{nombre}" /></td>
            </tr>
            <tr>
                <td>Apellido:</td>
                <td><input type="text" th:field="*{apellido}" /></td>
            </tr>
            <tr>
                <td>Direccion:</td>
                <td><input type="text" th:field="*{direccion}" /></td>
            </tr>
        
            <tr>
                <td>Telefono:</td>
                <td><input type="text" th:field="*{telefono}" /></td>
            </tr>
        </table>
            
        <input type="submit" th:value="${botonSubmit}" class="btn bg-warning btn-warning btn-sombra mt-4 w-100 boton-submit" />
        <input type="hidden" th:field="*{id}" />
    </form>
</body>

</html>