<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layouts/plantilla.html :: head"></head>

<body>

	<header th:replace="views/layouts/plantilla.html :: header"></header>

	<main class="mb-5">
		<h1 th:text="${titulo}" class="h1 text-4xl mb-5 text-center"></h1>

		<form th:action="@{/subasta/crear}" th:object="${subasta}"
			method="POST" class="formulario mb-5 sombra-2"
			enctype="multipart/form-data">
			<div class="formulario-div">
				<label for="fecha">Fecha:</label> <input type="text" id="fecha"
					th:field="*{fechaLimite}" />
			</div>
			<div class="formulario-div">
				<label for="hora">Hora:</label> <input type="text" id="hora"
					th:field="*{horaLimite}" />
			</div>
			<div class="formulario-div">
				<label for="precioInicial">Precio Inicial:</label> <input
					type="text" id="precioInicial" th:field="*{precioInicial}" />
			</div>
			<input type="submit" th:value="${botonSubmit}"
				class="btn bg-warning btn-warning btn-sombra mt-4 w-100 boton-submit" />
			<input type="hidden" th:field="*{id}" />		
		</form>
		<!-- esto lo agregue para que se pueda scrolear para abajo :) -->
		<div class="h-28 w-full"></div>
	</main>

	<footer th:replace="views/layouts/plantilla.html :: footer"></footer>


</body>

</html>