<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layouts/plantilla.html :: head"></head>
<body>
<header th:replace="views/layouts/plantilla.html :: header"></header>
	<main th:each="subasta: ${subastas}">
	<div th:each="producto: ${subasta.producto}"  class="w-[50%] flex flex-row justify-center items-center content-center text-center bg-sky-100 m-auto shadow">
		<div
			class="flex justify-center items-center inline-flex p-2">
			<div class="m-auto w-[300px] h-[400px]">
				<a th:href="@{/subasta/details/{id}(id=${subasta.id})}">
								<img th:src="@{'/imagenes/'+${producto.imagen}}"
									th:alt="${producto.imagen}" class="h-auto w-full" />
									</a>
			</div>
		</div>
		<div 
			class="w-[500px] h-[600px] p-2 justify-center items-center inline-flex">
				<div class="w-full h-full bg-sky-100 flex flex-col justify-center items-center content-center rounded border-current border-solid">
				<p
					class="text-black text-2xl font-bold text-uppercase" th:text="${producto.nombre}"></p>
				<p
					class="text-black text-[16px] font-normal" th:text="${producto.descripcion}"></p>
				<p
					class="text-black text-[16px] font-normal"  th:text="@{'Precio inicial: ' + ${producto.precio}}"></p>
				<p
					class="text-black text-[20px] font-bold" th:text="@{'Ofera máxima: ' + ${subasta.maximo}}"></p>
					
			</div>
			</div>
			</div>
	</main>
</body>
</html>