<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layouts/plantilla.html :: head"></head>
<body>
<header th:replace="views/layouts/plantilla.html :: header"></header>
	<main class="w-[50%] flex flex-row justify-center items-center content-center text-center bg-sky-100 m-auto shadow">
		<div
			class="flex justify-center items-center inline-flex">
			<div class="w-[500px] h-[500px] bg-white">
				<img src="/img/producto.png">
			</div>
		</div>
		<div
			class="w-[500px] h-[600px] p-2 justify-center items-center inline-flex">
				<div class="w-full h-full bg-sky-100 flex flex-col justify-center items-center content-center rounded border-current border-solid">
				<p
					class="text-black text-[24px] font-bold">Nombre
					producto</p>
				<p
					class="text-black text-[16px] font-normal">Descripcion</p>
				<p
					class="text-black text-[16px] font-normal">precio
					inicial</p>
				<p
					class="text-black text-[20px] font-bold">ultima
					oferta</p>
					<p
					class="text-black text-3xl font-bold mb-10" id="reloj">Tiempo</p>
				<div class="w-[213px] h-[60px]">
					<button
						class="w-[213px] h-[60px]  bg-sky-500 rounded-2xl">
					<p
						class="text-white text-[20px] font-bold">Ofertar</p></button>
				</div>
				</div>
			</div>
	</main>
	<script type="text/javascript" src="/js/Timer.js"></script>
</body>
</html>