<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/layouts/plantilla.html :: head"></head>
<script src="https://cdn.tailwindcss.com"></script>
<body>

   <header th:replace="views/layouts/plantilla.html :: header"></header>

    <main class="mb-5">
        <h1 th:text="${titulo}" class="h1 text-4xl mb-5 text-center"></h1>

        <form th:action="@{'/subasta/crear/producto/'+${idSubasta}}" th:object="${producto}" method="POST" class="formulario mb-5 sombra-2"
            enctype="multipart/form-data">
            <div class="formulario-div">
                <label for="nombre">Producto:</label>
                <input type="text" id="nombre" th:field="*{nombre}" />
            </div>
            <div class="formulario-div">
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" th:field="*{descripcion}"></textarea>
            </div>
            <div class="formulario-div">
                <label for="imagen">Imagen:</label>
                <input type="file" id="imagen" name="file" />
            </div>
            <div class="formulario-div">
                <label for="categoria">Seleccione una Categoría:</label>
                <select id="categoria" th:field="*{categoria.id}" class="select-css">
                    <option value="" >Seleccione una opción</option>
                    <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                </select>
            </div>
            <div>
                	<label for="modalidad">Modalidad:</td>
                	<select  id="modalidad" th:field="*{modalidad.id}" class="select-css">
                    		<option value="" >Seleccione una opción</option>
                    		<option th:each="modalidad : ${modalidades[1]}" th:value="${modalidad.id}" th:text="${modalidad.nombre}"></option>
                	</select>
            	</div>
            <input type="submit" th:value="${botonSubmit}" class="btn bg-warning btn-warning btn-sombra mt-4 w-100 boton-submit" />
            <input type="hidden" th:field="*{id}" />
        </form>
        <!-- esto lo agregue para que se pueda scrolear para abajo :) -->
        <div class="h-28 w-full"></div>
    </main>

    <footer th:replace="views/layouts/plantilla.html :: footer"></footer>

<script th:replace="views/layouts/plantilla.html :: script"></script>
</body>

</html>