<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css">
</head>
<body>
   <div class="bg-zinc-100 flex flex-col text-center m-auto gap-2 shadow">
<div class="text-black text-[32px] font-bold">Ticket </div>
<div class="flex flex-row gap-10 justify-center">
<div class="text-black text-[15px] font-normal" th:text="${Idticket}"></div>
<div class="text-black text-[15px] font-normal" th:text="${FechaDeCompra}">Fecha: dd/mm/yyyy</div>
</div>
<div class="text-black text-[32px] font-normal" th:text="${MontoPagado}">Monto: $ ---</div>
</div>
</body>
</html>