<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/layouts/plantilla.html :: head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.tailwindcss.com"></script>
     <link rel="stylesheet" href="../css/login.css">
</head>
<body class="text-center text-white">
    <h1 th:text="${titulo}" class="text-3xl mb-10"></h1>
    <a th:href="@{usuario/agregar}" class=" hover:bg-sky-400 p-5 m-auto rounded-full border border-sky-400 m-5 text-xl bg-sky-600 mb-10">Agregar Usuario</a>
    <table id="lista" class="text-center bg-white m-auto mt-10 text-blue-600 p-5 rounded w-9/12">
        <thea>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody >
            <tr th:each="usuario: ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nombre}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>