/* Generales */

.producto {
    display: flex;
}

.producto-imagen {
    width: 20px;
    height: 20px;
    background-color: brown;
}

/* Producto y Categoria */

.search-contenedor {
    display: flex;
    width: 70%;
    margin: 30px auto;
    gap: 20px;
}

.search-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-column:first-of-type {
    justify-content: start;
    flex-basis: 30%;
    width: 100%;
}

.search-column:last-of-type {
    justify-content: start;
    flex-basis: 70%;
    width: 100%;
}


.search-column .card {
    margin-bottom: 10px;
}

/* Producto */

.card .row {
    display: flex;
    align-items: center;
    padding: 10px;
}

.card-title {
    font-weight: 700;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body a {
    width: 15rem;
}

.card-body h5 {
    font-size: 2rem;
}

.card-description {
    display: flex;

}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: white;
}

.dropdown .dropdown-toggle {
    font-weight: 700;
    font-size: 1.3rem;
    color: black;
    width: 100%;
}

.dropdown-toggle:hover{
    color: white;
}

.dropdown .dropdown-menu {
    padding: 8px 4px;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    background-image: linear-gradient(to right, rgba(236, 187, 187, 0), rgba(236, 187, 187, 0.5)); /* Degradado en el hover */
    transition: background-image 5s; /* Animación de 5 segundos */
  }

/* Categorias */

.categorias {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(236, 187, 187, 0.5);
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .categorias:hover {
    background-color: rgba(236, 187, 187, 0.8);
  }

.categorias h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.7rem;
}

.categorias-container {
    display: flex;
    flex-direction: column;
  }
  
  .categorias-container a {
    padding: 4px 0px;
    font-weight: 700;
    font-size: 1.1rem;
    position: relative;
    transition: background-color 0.5s ease, transform 0.5s ease;
    color: black; /* Texto en color negro */
  }
  
  .categorias-container a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.5s ease;
    opacity: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)); /* Degradado en los bordes */
    transform: scaleX(0);
    transform-origin: left;
  }
  
  .categorias-container a:hover:before {
    opacity: 1;
    transform: scaleX(1);
  }