/* Estilos generales para toda la app */

body {
  background-color: #f5f1f1;
}

.main {
  min-height: 100%;
}

.sombra {
  box-shadow: 4px 5px 5px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 5px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 5px 5px -3px rgba(0, 0, 0, 0.75);
}

.btn-sombra {
  box-shadow: 1px 3px 5px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 3px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 5px -3px rgba(0, 0, 0, 0.75);
}

.sombra-2 {
  box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.75);
}


/* Header */

.header {
  box-shadow: 0px 6px 28px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 6px 28px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 28px -8px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: #212529;
}

.header-color{
	background-color: #212529;
}

.header-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo a {
  transition: transform 0.3s ease;
}

.header-logo a:hover {
  transform: scale(1.1);
}

.header-search a {
  color: white;
  font-weight: 700;
  margin-left: 40px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.header-search a:hover {
  transform: scale(1.2);
}

.header-icons div {
  display: flex;
  gap: 10px;
}

.header-icons div a {
  transition: transform 0.3s ease;
}

.header-icons div a:hover {
  transform: scale(1.2);
}

/* Nav */

.navigation-bar {
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-bar a {
  padding: 5px;
  color: white;
  font-weight: 700;
}

/* Footer */

.footer {
  box-shadow: 0px -1px 22px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -1px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 22px 0px rgba(0, 0, 0, 0.75);
  font-weight: 500;
  text-align: center;
  font-size: 1.3rem;
  width: 100%;

}

@keyframes rainbow {
  0% {
    color: #00FFFF;
  }

  14% {
    color: #00FF00;
  }

  28% {
    color: #FF0000;
  }

  42% {
    color: #FFFF00;
  }

  57% {
    color: #FFA500;
  }

  71% {
    color: #00FFFF;
  }

  85% {
    color: #00FF00;
  }

  100% {
    color: #00FFFF;
  }
}

a.rainbow-link {
  animation: rainbow 8s linear infinite;
}

.detalle-main {
  display: flex;
  flex-direction: row;
  width: 60%;
  min-height: 10rem;
  margin: auto;
}

.detalle-col-1 {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem 3rem 3rem;
  width: 40%;
}

.detalle-col-2 {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 3rem 1.5rem;
  width: 60%;
}

.detalle-col-1 img {
  border-radius: 10px;
}

.detalle-row:first-of-type {
  display: flex;
  justify-content: space-between;
}

.detalle-row:first-of-type a {
  font-weight: 700;
  font-size: 1.5rem;
  color: rgba(61, 61, 61, 0.727);
}
.detalle-row:last-of-type{
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.detalle-row:last-of-type div{
  display: flex;
  margin-left: 2rem;
  gap: .5rem;
}

.detalle-row:last-of-type div a{
  font-weight: 700;
  font-size: 1.2rem;

}

.row-line{
  height: 2px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.442);
  margin: 10px 0;
}

.detalle-row p{
  color: rgb(87, 87, 87);
}

.detalle-row .detalle-titulo{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(61, 61, 61, 0.727);
}

.detalle-row .detalle-categoria{
  font-size: .9rem;
}

.detalle-row .detalle-categoria-link{
  color: red;
}

.detalle-precio p:first-of-type{
  font-weight: 700;
  font-size: 1.8rem;
  color: #1943AC;
}


.detalle-precio p:nth-child(2){
  font-weight: 500;
  font-size: 1.3rem;
  color:#1943AC;
}

.col-md-6 .card:nth-of-type(1) .perfil-card {
  background-color: hsla(180, 100%, 50%, 0.5);
}

.col-md-6 .card:nth-of-type(2) .perfil-card {
  background-color: hsla(132, 100%, 50%, 0.5);
}

.col-md-6.mb-4 .card:nth-of-type(1) .perfil-card {
  background-color: hsla(300, 100%, 50%, 0.5);
}

.col-md-6.mb-4 .card:nth-of-type(2) .perfil-card {
  background-color: rgba(255, 153, 51, 0.5);
}

.perfil-card{
  font-weight: 700;
}

#favoritos-popup {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 5;
  max-width: 30rem;

  width: 100%;
}

.favoritos-disabled{
  display: none;

}

.favoritos.active {
  display: block;
}

.popup-producto_titulo{
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.185);
  margin-bottom: 5px;

}

#publicaciones-popup {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 5;
  max-width: 30rem;
  width: 100%;
}

.publicaciones-disabled{
  display: none;
}

.publicaciones.active {
  display: block;
}

#ventas-popup {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 5;
  max-width: 30rem;
  width: 100%;
}

.ventas-disabled{
  display: none;
}

.ventas.active {
  display: block;
}

#compras-popup {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 5;
  max-width: 30rem;
  width: 100%;
}

.compras-disabled{
  display: none;
}

.compras.active {
  display: block;
}


.usuario-producto_list{
  display: flex;
  padding: .5rem;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.185);
}

.usuario-producto_list img{
  width: 5rem;
}

.usuario-producto_list div{
  display: flex;
  flex-direction: column;
}

.usuario-producto_nombre{
  word-wrap: break-word;
}

.scrollable-content {
  max-height: 300px; 
  overflow-y: auto;
}

.favorito-true{
  color: #FF0000;
}

.favorito-false i{
  color: rgba(127, 126, 126, 0.727);
}


