<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="views/layouts/plantilla.html :: head"></head>

<body>

	<header th:replace="views/layouts/plantilla.html :: header"></header>
	<aside th:replace="views/layouts/plantilla.html :: aside"></aside>
	<main class="w-full flex h-[900px] justify-center m-auto">
		<section
			class="rounded flex w-full h-1/2 justify-around items-center p-5">
			<div class="p-5">
				<div
					class="grid grid-cols-3 text-center items-center justify-center justify-items-center gap-2 h-[250px] rounded">
					<div th:each="producto : ${productos}" class="mb-10 mb-5 bg-gray-100 m-3 shadow"  th:if="${producto.stock > 0 && producto != null}">
					<div  th:each=" modalidad : ${producto.modalidad}" >
						<div  th:if="${modalidad.nombre != 'Subasta'}" class="flex flex-row m-auto w-full h-full w-full bg-white p-2 gap-2">
						
							<div class="flex flex-col w-fukk m-2 items-center justify-center">
							<a th:href="@{/producto/details/{id}(id=${producto.id})}">
								<img th:src="@{'/imagenes/'+${producto.imagen}}"
									th:alt="${producto.imagen}" class="h-[200px] w-[200px]" />
									</a>
							</div>
							<div class="flex flex-col  w-[200px] h-[200px] text-sm justify-center items-center content-center gap-3 m-2">
								<div class="bg-gray-400 h-[2px]"></div>
								<div class="flex flex-row text-xl font-bold text-uppercase">
									<p class="detalle-titulo" th:text="${producto.nombre}">
								</div>
								<div class="bg-gray-400 h-[2px]"></div>
								<div class="flex flex-col detalle-precio ml-2">
									<p th:text="'$' + ${producto.precio}">
									<p class="mt-2">
										Stock: <span th:text="${producto.stock}"></span>
									</p>
								</div>
								<div class="bg-gray-400 h-[2px]"></div>
								<div class="flex flex-row">
									<a class="bg-blue-500 hover:bg-blue-700 text-uppercase p-2 text-white font-bold rounded"
                    				onClick="validarCompra(this)" th:attr="data-id-vendedor=${producto.vendedor != null ? producto.vendedor.id : ''}, data-id-compra=${producto.id}, data-id-usuario=${idUsuario}">Agregar Al Carrito</a>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer th:replace="views/layouts/plantilla.html :: footer"></footer>
	<script th:replace="views/layouts/plantilla.html :: script"></script>
</body>

</html>