<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="views/layouts/plantilla.html :: head"></head>

<body class="bg-gray-100">
	<header>
		<nav class="navbar navbar-dark bg-dark">
			<div class="h-full w-full flex justify-between items-center">
				<a th:href="@{/}"><img alt="logo" src="../img/BidBay-Logo-New.png" class="w-38 h-24 ml-10"></a>
				<!-- id="barra de busqueda "   -->
				<div class="flex h-full items-center justify-around ml-20">

					<div class="h-full w-100 flex flex-row items-center justify-around m-auto mb-2">
						<form th:action="@{/producto/buscar}" class="flex flex-row">
							<input name="search" type="text" class="rounded p-2 mt-4 w-96" placeholder="Buscar" />
							<button type="submit" class="text-white mt-4 ml-2">

								<i class="fa fa-search"></i>
							</button>
						</form>

					</div>
				</div>


				<div id="divCarrito" class="mr-10 text-gray-100">
					<a th:href="@{/login}" class="text-2xl mr-2"><i class="fa-regular fa-user"></i></a> <a
						th:href="@{/carrito/listar}" class="text-2xl mr-5"><i
							class="fa-sharp fa-solid fa-cart-plus"></i></a>
					<p th:text="${logueo}"></p>
				</div>
			</div>
		</nav>
	</header>
	<main class="w-full flex h-full justify-center m-auto">
		<section class="rounded flex w-full h-1/4 justify-around items-center pt-20">
			<div>
				<div
					class="grid grid-cols-3 text-center border border-solid border-gray-500 flex flex-col items-center justify-center justify-items-center">
					<div th:each="producto: ${productos}" class="mb-10">
						<img th:src="@{'../imagenes/'+${producto.imagen}}" th:alt="${producto.imagen}"
							class="w-1/2 h-1/2 m-auto mt-2">
						<p th:text="${producto.nombre}" class="text-4xl mb-2"></p>
						<p th:text="${producto.descripcion}" class="mb-2"></p>
						<p th:text="${producto.precio}" class="mb-2"></p>
						<a th:href="@{/carrito/form/{id}(id=${producto.id})}"
							class="bg-blue-400 p-2 m-5 text-white hover:bg-blue-600 rounded">Agregar
							al carrito</a>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer th:replace="views/layouts/plantilla.html :: footer"></footer>

</body>

</html>